	<h1> Edit a Recipe  <%=@recipe.title%></h1>
	<p><%=@error %></p>
<form action="/recipes/<%=@recipe.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
<label>Title</label>	
<input type="text" name="recipe[title]" value="<%=@recipe.title%>">
<label>Method</label>	
<textarea name= "recipe[method]"> <%=@recipe.method%> </textarea> 
<label>Image</label>	
<input type="text" name="recipe[image]" value="<%=@recipe.image%>">
<button type="submit"> Edit Recipe </button> 

 </form>